In [1]:
import investpy as ivp
import pandas as pd

In [41]:
minha_carteira = {
    '28-01-20':['cmig4', 'compra', 15.23, 39],
    '29-01-20':['petr4', 'compra', 28.15, 7],
    '05-02-20':['slce3', 'compra', 23.5, 25],
    '06-02-20':['vvar3', 'compra', 14.93, 5],
    '26-02-20':['bpan4', 'compra', 9.89, 8],
    '26-02-20':['tots3', 'compra', 81.64, 14],
    '26-02-20':['cmig4', 'venda', 14.70, 39],
    '26-02-20':['slce3', 'venda', 22.83, 25]
}
minha_carteira = pd.DataFrame().from_dict(minha_carteira, orient='index', columns = ['ativo', 'operacao', 'pu', 'qtd'])
minha_carteira.index = pd.to_datetime(minha_carteira.index.rename('Dt_operacao'), format = '%d-%m-%y')

In [2]:
81.64*14 - 43.94*14

527.8000000000001

In [23]:
minha_carteira.columns =

In [19]:
minha_carteira.index = minha_carteira

In [9]:
ivp.get_stock_historical_data(stock = 'mglu3', country = 'brazil', from_date='01/01/2018', to_date='01/04/2019')

             Open   High    Low  Close    Volume Currency
Date
2018-01-01  10.03  10.21   9.72   9.83  14856800      BRL
2018-01-02   9.79  10.09   9.61   9.71  10346400      BRL
2018-01-03   9.92   9.98   9.83   9.94  11984000      BRL
2018-01-04   9.97  10.03   9.71   9.74   7671200      BRL
2018-01-07   9.73   9.93   9.71   9.74   7199200      BRL
...           ...    ...    ...    ...       ...      ...
2019-03-25  21.81  22.02  21.67  22.02   6088000      BRL
2019-03-26  21.83  21.83  20.75  20.95  12636000      BRL
2019-03-27  21.08  21.51  20.60  21.30  11179200      BRL
2019-03-28  21.48  21.69  21.33  21.56   5718400      BRL
2019-03-31  21.70  21.79  21.36  21.36   4003200      BRL

[306 rows x 6 columns]